<div class="container mt-5">
    <form (ngSubmit)="completeTransaction()" *ngIf="this.account">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-6">
                <div class="form-group">
                    <label class="font-weight-bold mb-color h5" for="destIBAN">Destination IBAN</label>
                    <input type="text" class="form-control input-style" #destIBAN="ngModel" [(ngModel)]="this.transaction['IBAN_dest']" id="destIBAN" name="destIBAN" placeholder="IBAN" required>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-sm-6">
                <div class="form-group">
                    <label for="frequent_accounts" class="font-weight-bold mb-color h5">Frequent Accounts (Account Name - IBAN - Bank Name)</label>
                    <select name="frequent_accounts" [(ngModel)]="this.transaction.IBAN_dest" id="frequent_accounts" class="form-control input-style">
                        <option *ngFor="let item of this.frequent_accounts" [ngValue]="item['IBAN']">{{this.all_accounts[item['IBAN']] === undefined ? 'Not in Money Bunny' : this.all_accounts[item['IBAN']]['account_name']}} - {{item['IBAN']}} - {{item['bank_name']}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-sm-6">
                <div class="form-group">
                    <label class="font-weight-bold mb-color h5" for="amount">Amount ({{this.transaction['currency']}}) - <span class="text-dark">{{this.account['balance'].toFixed(2)}}</span> Available</label>
                    <input type="number" class="form-control input-style" #amount="ngModel" [(ngModel)]="this.transaction['amount']" name="amount" id="amount" placeholder="Amount" required>
                    <p class="font-error" *ngIf="this.account['balance'] < this.transaction['amount']">Not enough money for this transaction!</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-sm-6">
                <div class="form-group">
                    <label class="font-weight-bold mb-color h5" for="recurrency">Recurrency in days (leave 0 for one time transaction)</label>
                    <input type="number" class="form-control input-style" #recurrency="ngModel" [(ngModel)]="this.transaction['recurrent_days']" name="recurrency" id="recurrency">
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-sm-6">
                <div class="form-group">
                    <label class="font-weight-bold mb-color h5" for="invoice_number">Invoice Number</label>
                    <input type="text" class="form-control input-style" name="invoice_number" id="invoice_number" placeholder="Only applicable if this is an utility bill">
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <button type="submit" class="btn mb-2 input-style mb-button w-50" [disabled]="this.account['balance'] < this.transaction['amount'] || destIBAN.errors || amount.errors || amount.value == 0" >Complete Transaction</button>
        </div>
    </form>
</div>