<div class="container mt-3">
  <div class="row justify-content-center">
      <h1 class="mb-color font-weight-bold">Your registered accounts</h1>
  </div>
  <div class="row mt-2" *ngFor="let account of this.accounts">
    <div class="col-12 col-sm-12">
      <a class="h2 text-decoration-none account-link font-weight-bold" data-toggle="collapse" href="#{{account['account_name']}}" role="button" aria-expanded="false">
          {{ account['account_name'] }}
          <i class="fa fa-chevron-circle-down pull-right"></i>
      </a>
      <hr>
      <div class="collapse" id="{{account['account_name']}}">
        <div class="card card-body">
          <div class="row text-center">
            <div class="col-6 col-sm">
              <div class="row">
                <div class="col-12">
                  <h4 class="mb-color font-weight-bold">Bank</h4>
                </div>
              </div>
              <div class="row mt-2">
                <div class="col-12">
                  <h4 class="font-weight-bold">{{this.banks.get(account['account_name'])}}</h4>
                </div>
              </div>
            </div>
            <div class="col-6 col-sm">
              <div class="row">
                <div class="col-12">
                  <h4 class="font-weight-bold mb-color">IBAN</h4>
                </div>
              </div>
              <div class="row mt-2">
                <div class="col-12">
                  <h4 class="font-weight-bold">{{account['IBAN']}}</h4>
                </div>
              </div>
            </div>
            <div class="col-6 col-sm">
              <div class="row">
                <div class="col-12">
                  <h4 class="font-weight-bold mb-color">Account Type</h4>
                </div>
              </div>
              <div class="row mt-2">
                <div class="col-12">
                  <h4 class="font-weight-bold">{{account['account_type']}}</h4>
                </div>
              </div>
            </div>
            <div class="col-6 col-sm">
              <div class="row">
                <div class="col-12">
                  <h4 class="font-weight-bold mb-color">Date Added</h4>
                </div>
              </div>
              <div class="row mt-2">
                <div class="col-12">
                  <h4 class="font-weight-bold">{{account['open_date'].toDate()| date: 'dd-MM-yyyy'}}</h4>
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-4">
            <div class="col-12 col-sm d-flex select-btn">
                <a class="btn mb-button hidden-md-down" [ngClass]="{'disabled': account['blocked'] || account['closing']}" (click)="this.selectAccount(account['account_name'])">Select This Account</a>
            </div>
            <div class="col-6 col-sm d-flex justify-content-center">
              <a class="btn mb-button" *ngIf="!account['blocked']" (click)="blockAccount(account)" [ngClass]="{'disabled': account['closing']}">Block This Account</a>
              <a class="btn mb-button" *ngIf="account['blocked']" (click)="unblockAccount(account)" [ngClass]="{'disabled': account['closing']}">Unblock This Account</a>
            </div>
            <div class="col-6 col-sm">
              <a class="btn mb-button" [ngClass]="{'disabled': account['closing']}" (click)="closeAccount(account)">Close This Account</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-12 col-sm-12 d-flex justify-content-center">
      <a class="btn mb-button" routerLink="/bank-select">Open new bank account</a>
    </div>
    <br><br>
  </div>
</div>