<div class="container">
    <h2><div class="row justify-content-center">
        <a class="text-dark text-decoration-none font-weight-bold">Welcome to Money Bunny</a>
        </div>
    </h2>
    <h2><div class="row justify-content-left">
        <a class="text-dark text-decoration-none font-weight-bold">Your registered accounts</a>
        </div>
    </h2>
    <h3>
        <div class="row" *ngFor="let item of this.banks">
            <div class="col-4 col-sm my-2">
                <span class="btn btn-primary btn-lg" (click)="onClickMe()">
                    {{[item['name']]}}
                    
                </span>
                <button (click)="onClickMe()">
                    {{this.click_message}}   
                </button>
            </div>
            <h4>    
                <div class="row" *ngFor="let item of this.accounts">
                    {{['IBAN: ' + item['IBAN']]}}
                </div>
                <div class="row" *ngFor="let item of this.accounts">
                    {{['Account type: ' + item['account_type']]}}
                </div>
            </h4>
        </div>        
    </h3>
</div>