<div class="container">
    <div class="row mt-2">
        <div class="col-12 col-sm-12 d-flex justify-content-center">
            <h3 class="font-weight-bold">Welcome <span class="mb-color">{{this.auth.getCurrentUser()}}</span></h3>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-12 col-sm-4">
            <div class="card">
                <div class="card-header d-flex justify-content-between">
                    <span class="font-weight-bold card-mb-header">Card Details</span>
                    <i class="fa fa-credit-card mb-color card-mb-icon"></i>
                </div>
                <div class="card-body text-center">
                  <h5 class="card-title">View your card details</h5>
                  <a class="btn mb-button" routerLink="/login">Card Details</a>
                </div>
              </div>
        </div>
        <div class="col-12 col-sm-4">
          <div class="card">
              <div class="card-header d-flex justify-content-between">
                  <span class="font-weight-bold card-mb-header">Card Details</span>
                  <i class="fa fa-credit-card mb-color card-mb-icon"></i>
              </div>
              <div class="card-body text-center">
                <h5 class="card-title">View your card details</h5>
                <a class="btn mb-button" routerLink="/login">Card Details</a>
              </div>
            </div>
      </div>
      <div class="col-12 col-sm-4">
        <div class="card">
            <div class="card-header d-flex justify-content-between">
                <span class="font-weight-bold card-mb-header">Card Details</span>
                <i class="fa fa-credit-card mb-color card-mb-icon"></i>
            </div>
            <div class="card-body text-center">
              <h5 class="card-title">View your card details</h5>
              <a class="btn mb-button" routerLink="/login">Card Details</a>
            </div>
          </div>
    </div>
    </div>
</div>