<div class="container">
    <div class="row mt-2">
        <div class="col-12 col-sm-12 d-flex justify-content-center">
            <h3 class="font-weight-bold">Welcome <span class="mb-color">{{this.auth.getCurrentUser()}}</span></h3>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-12 col-sm-4">
            <div class="card text-center">
                <div class="card-header">
                    <span class="font-weight-bold font-item mr-3">Card Details</span>
                    <i class="fa fa-credit-card mb-color" style="font-size: 1.8rem;"></i>
                </div>
                <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
                <div class="card-body">
                  <!-- <h5 class="card-title">Card title</h5> -->
                  <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                  <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                </div>
              </div>
        </div>
        <div class="col-12 col-sm-4">
            <div class="card">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
        </div>
        <div class="col-12 col-sm-4">
            <div class="card">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
        </div>
    </div>
</div>