div.textul{
	margin-right: 10%;
	margin-left: 10%;
}
div.daiscroll{
	overflow-y: scroll;
}
.logo {
    width: 12rem;
    height: auto;
}
.logobig {
    width: 20rem;
    height: auto;
}
.logosmall {
    width: 6rem;
    height: auto;
}