<nav class="navbar hr-bottom">
    <div class="container justify-content-between">
        <div class="navbar-brand d-flex align-items-center">
            <span class="navbar-logo">
                <a routerLink="/">
                    <img class="logo" src="assets/images/logo.png" alt="Money Bunny Logo">
                </a>
            </span>
            <span class="navbar-caption ml-1">
                <a class="text-dark text-decoration-none font-weight-bold nav-text" routerLink="/">Money Bunny</a>
            </span>
        </div>
        <a class="btn mb-button" routerLink="/login">Login / Sign up</a>
    </div>
</nav>
<router-outlet></router-outlet>