<nav class="navbar fixed-top hr-bottom">
    <div class="container justify-content-between">
        <div class="navbar-brand d-flex align-items-center">
            <span class="navbar-logo">
                <a href="index.html">
                    <img class="logo" src="assets/images/logo.png" alt="Money Bunny Logo">
                </a>
            </span>
            <span class="navbar-caption ml-1">
                <a class="text-dark text-decoration-none font-weight-bold nav-text" href="index.html">Money Bunny</a>
            </span>
        </div>
    </div>
</nav>
<div style="margin-top: 1000px;">
    a
</div>