<nav class="navbar hr-bottom">
    <div class="navbar-brand d-flex align-items-center mr-0">
        <div class="navbar-logo">
            <a [routerLink]="this.auth.isLoggedIn() ? (this.auth.isAccountSet() ? ['account-dashboard'] : ['logged-in-menu']) : ['/']">
                <img class="logo" src="assets/images/logo.png" alt="Money Bunny Logo">
            </a>
        </div>
        <div class="navbar-caption">
            <a class="text-dark text-decoration-none font-weight-bold nav-text" [routerLink]="this.auth.isLoggedIn() ? (this.auth.isAccountSet() ? ['account-dashboard'] : ['logged-in-menu']) : ['/']">Money Bunny</a>
        </div>
    </div>
    <div class="nav-item d-none d-sm-block">
        <a class="btn mb-button mr-4" *ngIf="route.url.split('?')[0].slice(1) !== 'help'" routerLink="/help" [queryParams]="{page: this.route.url.slice(1)}">Help</a>
        <a class="btn mb-button mr-4" *ngIf="this.auth.isAccountSet()" routerLink="/logged-in-menu" (click)="this.auth.unsetCurrentAccount()">Back to accounts</a>
        <a class="btn mb-button mr-2" *ngIf="this.auth.isLoggedIn()" routerLink="/" (click)="this.auth.SignOut()">Logout</a>
        <a class="btn mb-button mr-2" *ngIf="!this.auth.isLoggedIn()" routerLink="/login">Login / Sign up</a>
        <!-- <a class="dropdown">
            <a class="btn btn-secondary dropdown-toggle" id="dropdownLang" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{language.viewValue}}</a>
            <div class="dropdown-menu" aria-labelledby="dropdownLang">
                <a *ngFor="let lang of languages" class="dropdown-item itemLang" (click)="onUpdateLanguage(lang)">{{lang.viewValue}}</a>
            </div>
        </a> -->
    </div>

    <!-- <div class="nav-item d-block d-sm-none">
        <a class="dropdown">
            <a class="btn btn-secondary dropdown-toggle" id="dropdownLang" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{language.viewValue}}</a>
            <div class="dropdown-menu" aria-labelledby="dropdownLang">
                <a *ngFor="let lang of languages" class="dropdown-item itemLang" (click)="onUpdateLanguage(lang)">{{lang.viewValue}}</a>
            </div>
        </a>
    </div> -->

    <div class="nav-item dropdown position-static d-block d-sm-none">
        <a id="navbarDropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
            style="cursor: pointer; align-content: right;">
            <span class="fa fa-bars" style="font-size: 3rem;"></span>
        </a>
        <div class="dropdown-menu multi-level w-100 mt-0 shadow p-3 mb-5 bg-white rounded"
            aria-labelledby="navbarDropdownMenu">
            <div class="row justify-content-center mb-3">
                <a class="dropdown-item btn mb-button w-auto" *ngIf="route.url.split('?')[0].slice(1) !== 'help'" routerLink="/help" [queryParams]="{page: this.route.url.slice(1)}">Help</a>
            </div>
            <div class="row justify-content-center mb-3">
                <a class="btn mb-button" *ngIf="this.auth.isAccountSet()" routerLink="/logged-in-menu" (click)="this.auth.unsetCurrentAccount()">Back to accounts</a>
            </div>
            <div class="row justify-content-center">
                <a class="dropdown-item btn mb-button w-auto" *ngIf="!this.auth.isLoggedIn()" routerLink="/login">Login / Sign up</a>
                <a class="dropdown-item btn mb-button w-auto" *ngIf="this.auth.isLoggedIn()" routerLink="/" (click)="this.auth.SignOut()">Logout</a>
            </div>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>