<div class="container d-flex justify-content-center mt-5 pt-5">
    <div class="row">
        <div class="col-12 col-sm-12">
            <form>
                <a class="text-dark text-decoration-none font-weight-bold">Money Bunny account credentials</a>
                <br><br>
                <div class="row justify-content-between">
                    <div class="col-12 col-sm-4">
                        <div class="form-outline mb-4">
                            <input type="email" class="form-control p-3 input-style" placeholder="Email"
                                name="email" [(ngModel)]="newUser.email" required>
                        </div>
                    </div>
                    <div class="col-12 col-sm-4">
                        <div class="form-outline mb-4">
                            <select (input)="setUserType($event)" class="form-control input-style" placeholder="User Type"
                                name="usertype" [(ngModel)]="newUser.userType" required>
                                <option value="" disabled selected>User Type</option>
                                <option value="pfizica">Persoana Fizica</option>
                                <option value="pjuridica">Procesator - Persoana Juridica</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-between">
                    <div class="form-outline mb-4" [ngClass]="{'col-sm-6': newUser.userType === 'pjuridica'}">
                        <div class="form-outline" [ngClass]="{'mb-3': newUser.userType === 'pjuridica'}">
                            <input *ngIf="newUser.userType === 'pjuridica'" type="text" class="form-control p-3 input-style"
                                placeholder="Company Name"
                                name="company" [(ngModel)]="newUser.companyName" [required]="newUser.userType === 'pjuridica'">
                        </div>
                    </div>
                </div>
                <div class="row justify-content-between">
                    <div class="col-12 col-sm-4">
                        <div class="form-outline mb-4">
                           <input type="text" class="form-control p-3 input-style" placeholder="Username"
                                name="username" [(ngModel)]="newUser.username" required>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6">
                        <div class="form-outline mb-3">
                            <input type="password" class="form-control p-3 input-style" placeholder="Password"
                                name="password" [(ngModel)]="newUser.password" required>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6">
                        <div class="form-outline mb-3">
                            <input type="password" class="form-control p-3 input-style" placeholder="Retype Password"
                                name="passwordCheck" [(ngModel)]="passCheck" required>
                        </div>
                    </div>
                </div>

                <hr/>
                <a class="text-dark text-decoration-none font-weight-bold">Personal information</a>
                <br><br>
                <div class="row justify-content-between">
                    <div class="col-12 col-sm-4">
                        <div class="form-outline mb-4">
                            <input type="text" class="form-control p-3 input-style" placeholder="Full Name"
                                name="name" [(ngModel)]="newUser.name" required>
                        </div>
                    </div>
                    <div class="col-12 col-sm-4">
                        <div class="form-outline mb-4">
                            <input type="text" pattern="[1-8][0-9]{12}" class="form-control p-3 input-style" placeholder="CNP"
                                name="cnp" [(ngModel)]="newUser.cnp" required>
                        </div>
                    </div>
                    <div class="col-12 col-sm-4">
                        <div class="form-outline mb-4">
                            <input type="text" pattern="07[3-9][0-9]{7}" class="form-control p-3 input-style" placeholder="Phone Number"
                                name="phone" [(ngModel)]="newUser.phone" required>
                        </div>
                    </div>
                    <div class="col-12 col-sm-4">
                        <div class="form-outline mb-4">
                            <input type="date" class="form-control p-3 input-style" placeholder="DD/MM/YYYY - Birth Date"
                                name="birthdate" [(ngModel)]="newUser.birthday" required>
                        </div>
                    </div>
                </div>
                
                <div class="row justify-content-between">
                    <div class="col-12 col-sm-4">
                        <div class="form-outline mb-4">
                            <input type="text" class="form-control p-3 input-style" placeholder="Home Address"
                                name="address" [(ngModel)]="newUser.address" required>
                        </div>
                    </div>
                </div>

                <div class="row justify-content-center">
                    <div class="col-12 col-sm-4">
                        <button type="submit" class="btn btn-block mb-2 input-style mb-button"
                        (click)="signUp()">Sign up</button>
                        <br><br>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>