<div class="container d-flex justify-content-center mt-5 pt-5">
	<div class="row">
		<a class="text-dark text-decoration-none font-weight-bold">Select a partner bank!</a>
		<ul style="list-style-type:none;">
			<li><a class="btn mb-button" [ngClass]="{'mb-button-selected': this.bank == 'BT'}" (click)='onSelectBank("BT")'>Banca Transilvania</a></li>
			<li><a class="btn mb-button" [ngClass]="{'mb-button-selected': this.bank == 'BRD'}" (click)='onSelectBank("BRD")'>BRD</a></li>
			<li><a class="btn mb-button" [ngClass]="{'mb-button-selected': this.bank == 'LB'}" (click)='onSelectBank("LB")'>Libra Bank</a></li>
		</ul>

		<form *ngIf='bank !== "none"'>
			<app-form-pers-fiz *ngIf='user.userType !== "none"'></app-form-pers-fiz>>
			<button type="submit" class="btn btn-primary">Submit</button><br><br>
		</form>
	</div>
</div>