<div class="container mt-5">
	<form (ngSubmit)="submit()" *ngIf="this.account">
		<div class="row justify-content-center">
			<div class="col-12 col-sm-6">
				<div class="form-group">
					<label for="banks" class="font-weight-bold mb-color h5">Select a Partner Bank</label>
					<select name="banks" [(ngModel)]="this.account.bank" id="banks" class="form-control input-style" required>
                        <option *ngFor="let item of this.banks" [ngValue]="item.id">{{item.name}}</option>
                    </select>
				</div>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-12 col-sm-6">
				<div class="form-group">
					<label for="account_name" class="font-weight-bold mb-color h5">Account Name</label>
					<input type="text" [(ngModel)]="this.account_name" id="account_name" name="account_name" class="form-control input-style" required>
				</div>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-12 col-sm-6">
				<div class="form-group">
					<select name="account_type" [(ngModel)]="this.account.type" id="account_type" class="form-control input-style" required>
                        <option value="" disabled selected>Account Type</option>
						<option value="checking">Checking</option>
						<option value="savings">Savings</option>
						<option value="certificate of deposit">Certificate of deposit</option>
						<option value="credit">Credit</option>
                    </select>
				</div>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-12 col-sm-6">
				<div class="form-group">
					<select name="currency" [(ngModel)]="this.account.coin" id="currency" class="form-control input-style" required>
                        <option value="" disabled selected>Currency</option>
						<option value="RON">Lei</option>
						<option value="EUR">Euro</option>
						<option value="USD">USD</option>
                    </select>
				</div>
			</div>
		</div>
		<div class="row justify-content-center">
            <button type="submit" class="btn mb-2 input-style mb-button w-50" [disabled]="this.account.coin == '' || this.account.bank == '' || this.account.type == '' || this.account_name == ''" >Submit</button>
        </div>
	</form>
</div>