<div class="container my-3">
  <div class="row justify-content-center my-3">
      <h1 class="mb-color font-weight-bold">Your pending requests</h1>
  </div>
  <div class="row mt-2" *ngFor="let request of this.requests">
    <div class="col-12 col-sm-12">
      <a class="h2 text-decoration-none account-link font-weight-bold" data-toggle="collapse" href="#{{request['requestID']}}" role="button" aria-expanded="false">
          {{ request['requestType']}} Request {{ (request['requestType'] == 'open') ? request['requestID'] : request['iban'] }}
          <i class="fa fa-chevron-circle-down pull-right"></i>
      </a>
      <hr>
      <div class="collapse" id="{{request['requestID']}}">
        <div class="card card-body">
			<div class="row mb-2 ml-4 ml-4">
				<div class="col-12 col-sm-12">
					<span class="font-weight-bold mb-form-field h4">Date of Request: </span>
					<span class="font-weight-bold h4">{{ request['timestamp'].toDate() | date: 'dd-MM-yyyy' }}</span>
				</div>
			</div>
			<div class="row mb-2 ml-4">
				<div class="col-12 col-sm-12">
					<span class="font-weight-bold mb-form-field h4">Action: </span>
					<span class="font-weight-bold h4">{{ request['requestType']  }}</span>
				</div>
			</div>
			<div class="row mb-2 ml-4">
				<div class="col-12 col-sm-12">
					<span class="font-weight-bold mb-form-field h4">Request ID: </span>
					<span class="font-weight-bold h4">{{ request['requestID']  }}</span>
				</div>
			</div>
			<div class="row mb-2 ml-4" *ngIf="request['requestType'] == 'close' || request['requestType'] == 'verify'">
				<div class="col-12 col-sm-12">
					<span class="font-weight-bold mb-form-field h4">IBAN: </span>
					<span class="font-weight-bold h4">{{ request['iban']  }}</span>
				</div>
			</div>
			<div class="row mb-2 ml-4" *ngIf="request['requestType'] == 'verify'">
				<div class="col-12 col-sm-12">
					<span class="font-weight-bold mb-form-field h4">PIN: </span>
					<span class="font-weight-bold h4">{{ request['pin']  }}</span>
				</div>
			</div>
			<div class="row mb-2 ml-4" *ngIf="request['requestType'] == 'open' || request['requestType'] == 'verify'">
				<div class="col-12 col-sm-12">
					<span class="font-weight-bold mb-form-field h4">Account Type: </span>
					<span class="font-weight-bold h4">{{ request['type']  }}</span>
				</div>
			</div>
			<div class="row mb-2 ml-4" *ngIf="request['requestType'] == 'open'">
				<div class="col-12 col-sm-12">
					<span class="font-weight-bold mb-form-field h4">Name: </span>
					<span class="font-weight-bold h4">{{ request['name']  }}</span>
				</div>
			</div>
			<div class="row mb-2 ml-4" *ngIf="request['requestType'] == 'open'">
				<div class="col-12 col-sm-12">
					<span class="font-weight-bold mb-form-field h4">Email: </span>
					<span class="font-weight-bold h4">{{ request['email']  }}</span>
				</div>
			</div>
			<div class="row mb-2 ml-4" *ngIf="request['requestType'] == 'open'">
				<div class="col-12 col-sm-12">
					<span class="font-weight-bold mb-form-field h4">Phone: </span>
					<span class="font-weight-bold h4">{{ request['phone']  }}</span>
				</div>
			</div>
			<div class="row mb-2 ml-4" *ngIf="request['requestType'] == 'open'">
				<div class="col-12 col-sm-12">
					<span class="font-weight-bold mb-form-field h4">User Type: </span>
					<span class="font-weight-bold h4">{{ this.user_types[request['fromUserType']]  }}</span>
				</div>
			</div>
			<div class="row mb-2 ml-4" *ngIf="request['requestType'] == 'open'">
				<div class="col-12 col-sm-12">
					<span class="font-weight-bold mb-form-field h4">CNP: </span>
					<span class="font-weight-bold h4">{{ request['cnp']  }}</span>
				</div>
			</div>
			<div class="row mb-2 ml-4" *ngIf="request['requestType'] == 'open' || request['requestType'] == 'verify'">
				<div class="col-12 col-sm-12">
					<span class="font-weight-bold mb-form-field h4">Currency: </span>
					<span class="font-weight-bold h4">{{ request['coin']  }}</span>
				</div>
			</div>
			<div class="row mb-2 ml-4" *ngIf="(request['requestType'] == 'verify' || request['requestType'] == 'open') && request['type'] == 'credit'">
				<div class="col-12 col-sm-12">
					<label for="credit_amount" class="font-weight-bold mb-form-field h4">Credit Amount</label>
					<input type="number" [(ngModel)]="this.balance" id="credit_amount" name="credit_amount" class="form-control input-style w-25" required>
				</div>
			</div>
			<div class="row mb-2 ml-4" *ngIf="request['requestType'] == 'open'">
				<div class="col-12 col-sm-12">
					<label for="iban" class="font-weight-bold mb-form-field h4">IBAN</label>
					<input type="text" pattern="RO[0-9]{2}[A-Z]{4}[0-9]{16}" class="form-control input-style" [(ngModel)]="this.iban" id="iban" name="iban" required>
				</div>
			</div>
			<div class="row mb-2 ml-4" *ngIf="request['requestType'] == 'open'">
				<div class="col-12 col-sm-12">
					<label for="pin" class="font-weight-bold mb-form-field h4">PIN</label>
					<input pattern="[0-9]{4}" type="text" class="form-control input-style" [(ngModel)]="this.pin" id="pin" name="pin" required>
				</div>
			</div>
			<div class="row mt-3 mb-1 ml-4">
				<div class="col-12 col-sm-12">
					<button class="btn mb-button" (click)="accept(request)" [disabled]="(request['requestType'] == 'open' && (this.pin == '' || this.iban == ''))">Accept</button>
				</div>
			</div>
        </div>
      </div>
    </div>
  </div>
</div>