.mb-button {
    border-color: #91E542;
    font-size: 1.25rem;
    color: #142305;
    font-weight: 600;
    background-color: #91E542;
}

.mb-button:hover {
    color: white;
    background-color: #66b719;
}

.mb-button-selected {
    color: #66b719;
}

.mb-bg {
    background-color: #91E542;
}

.btn-primary {
	border-color: #91E542;
    font-size: 1.25rem;
    color: #142305;
    font-weight: 600;
    background-color: #91E542;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
	color: white;
    background-color: #66b719;
}

.font-1p3rem {
    font-size: 1.3rem;
}

.mb-color {
    color: #91E542;
}

.mb-form-field {
    color: #66b719;
}

.account-link {
    color: black;
}

.account-link:hover {
    color: #91E542;
}

.font-error {
    color: red;
    font-size: 1.2rem;
}