<div class="container mt-5">
    <form (ngSubmit)="submitRequest()">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-6">
                <div class="form-group">
                    <label for="banks" class="font-weight-bold mb-color h5">Select a Partner Bank</label>
					<select name="banks" [(ngModel)]="this.bank" id="banks" class="form-control input-style" required>
                        <option *ngFor="let item of this.banks" [ngValue]="item.name">{{item.name}}</option>
                    </select>
                </div>
            </div>
        </div>
		<div class="row justify-content-center">
            <div class="col-12 col-sm-6">
                <div class="form-group">
                    <label class="font-weight-bold mb-color h5" for="iban">IBAN</label>
                    <input type="text" pattern="RO[0-9]{2}[A-Z]{4}[0-9]{16}" class="form-control input-style" [(ngModel)]="this.iban" id="iban" name="iban" required>
				</div>
            </div>
        </div>
		<div class="row justify-content-center">
            <div class="col-12 col-sm-6">
                <div class="form-group">
                    <label class="font-weight-bold mb-color h5" for="pin">PIN</label>
                    <input pattern="[0-9]{4}" type="text" class="form-control input-style" [(ngModel)]="this.pin" id="pin" name="pin" required>
                </div>
            </div>
        </div>
		<div class="row justify-content-center">
            <div class="col-12 col-sm-6">
                <div class="form-group">
                    <label class="font-weight-bold mb-color h5" for="account_name">Account Name</label>
                    <input type="text" class="form-control input-style" [(ngModel)]="this.account_name" id="account_name" name="account_name" required>
					<p class="text font-error" *ngIf="nicknameInUse() && (invalidNickname!=='')">Account nickname already in use!</p>
				</div>
            </div>
        </div>
        <div class="row justify-content-center">
            <button type="submit" class="btn mb-2 input-style mb-button w-50" [disabled]="(nicknameInUse() && (invalidNickname!=='')) || this.bank == '' || this.pin == '' || this.iban == ''" >Submit</button>
        </div>
    </form>
</div>