<div class="container">
	<div class="row justify-content-center">
		<div class="counter-container col-md-12 col-lg-4">
			<div class="row text-center mx-3 mt-5">
				<div class="col-6 col-sm my-3">
					<span class="btn mb-button" routerLink="/card-select"><i class="bi bi-credit-card-2-front mb-color icon mb-3"></i><br>
						Select registered bank account</span>
				</div>
				<div class="col-6 col-sm my-3">
					<span class="btn mb-button" routerLink="/user-profile"><i class="bi bi-person-square mb-color icon mb-3"></i><br>
						Update profile</span>
				</div>
				<div class="col-6 col-sm my-3">
					<span class="btn mb-button" routerLink="/bank-select"><i class="bi bi-patch-plus mb-color icon mb-3"></i><br>
						Open new bank account</span>
				</div>
			</div>
		</div>
	</div>
</div>