<!--<a class="text-dark text-decoration-none font-weight-bold font-1p3rem">Titular</a><br><br>-->
<a class="text-dark text-decoration-none font-weight-bold font-1p3rem">Holder</a><br><br>
<div class="form-group">
	<!--<input type="text" id="companyName" class="form-control p-3 input-style" placeholder="Denumirea societății" required><br><br>-->
	<input type="text" id="companyName" class="form-control p-3 input-style" placeholder="Company Name" required><br>
	<!--<input type="text" id="type" class="form-control p-3 input-style" placeholder="Forma de organizare" required>-->
	<input type="text" id="type" class="form-control p-3 input-style" placeholder="Organisation Type" required><br>
	<!--<input type="text" id="code" class="form-control p-3 input-style" placeholder="Cod Unic de Inregistrare/ Cod de inregistrare fiscala" required>-->
	<input type="text" id="code" class="form-control p-3 input-style" placeholder="Unique Registration Code/ Fiscal Registration Code" required><br>
	<!--<input type="text" id="nationality" class="form-control p-3 input-style" placeholder="Nationalitate" required>-->
	<input type="text" id="nationality" class="form-control p-3 input-style" placeholder="Nationality" required><br>
	<!--<input type="text" id="residence" class="form-control p-3 input-style" placeholder="Rezidenta fiscala" required>-->
	<input type="text" id="residence" class="form-control p-3 input-style" placeholder="Fiscal Residence" required><br>

	<label>ID</label>
	<div class="row justify-content-between">
		<div class="col-xs-4">
			<div class="form-outline mb-4">
				<input type="text" id="cnp" pattern="[1-2][0-9]{12}" class="form-control p-3 input-style" placeholder="CNP" required>
			</div>
		</div>
		<div class="col-xs-4">
			<div class="form-outline mb-4">
				<input type="text" id="id_series" pattern="[A-Z]{2}" class="form-control p-3 input-style" placeholder="Series" required>
			</div>
		</div>
		<div class="col-xs-4">
			<div class="form-outline mb-4">
				<input type="text" id="id_nr" pattern="[0-9]{6}" class="form-control p-3 input-style" placeholder="Number" required>
			</div>
		</div>
	</div>
	<br>
	<input type="email" id="email" class="form-control p-3 input-style" placeholder="Email" required>
</div>
<div class="form-group">
	<div class="form-outline mb-4">
		<select (input)="setAccount($event)" class="form-control input-style" placeholder="User Type" id="usertype" required>
			<option value="" disabled selected>Account Type</option>
			<option value="checking">Checking</option><!--cont curent-->
			<option value="savings">Savings</option><!--cont de economii-->
			<option value="CD">Certificate of deposit</option><!--depozit-->
		</select>
		<br>
		<select (input)="setCurrency($event)" class="form-control input-style" placeholder="User Type" id="usertype" required>
			<option value="" disabled selected>Currency</option>
			<option value="RON">Lei</option>
			<option value="EUR">Euro</option>
			<option value="USD">USD</option>
		</select>
	</div>
</div>

<hr/>
<!--<a class="text-dark text-decoration-none font-weight-bold font-1p3rem">Imputernicit</a><br><br>-->
<a class="text-dark text-decoration-none font-weight-bold font-1p3rem">Authorised</a><br><br>
<div class="form-group">
	<input type="text" id="surname" class="form-control p-3 input-style" placeholder="Surname" required><br>
	<input type="text" id="firstname" class="form-control p-3 input-style" placeholder="Firstname" required><br>

	<label>ID</label>
	<div class="row justify-content-between">
		<div class="col-xs-4">
			<div class="form-outline mb-4">
				<input type="text" id="cnp" pattern="[1-2][0-9]{12}" class="form-control p-3 input-style" placeholder="CNP" required>
			</div>
		</div>
		<div class="col-xs-4">
			<div class="form-outline mb-4">
				<input type="text" id="id_series" pattern="[A-Z]{2}" class="form-control p-3 input-style" placeholder="Series" required>
			</div>
		</div>
		<div class="col-xs-4">
			<div class="form-outline mb-4">
				<input type="text" id="id_nr" pattern="[0-9]{6}" class="form-control p-3 input-style" placeholder="Number" required>
			</div>
		</div>
	</div>
</div>

<hr/>
<!--<a class="text-dark text-decoration-none font-weight-bold font-1p3rem">Delegat</a><br><br>-->
<a class="text-dark text-decoration-none font-weight-bold font-1p3rem">Delegate</a><br><br>
<div class="form-group">
	<input type="text" id="surname" class="form-control p-3 input-style" placeholder="Surname" required><br>
	<input type="text" id="firstname" class="form-control p-3 input-style" placeholder="Firstname" required><br>

	<label>ID</label>
	<div class="row justify-content-between">
		<div class="col-xs-4">
			<div class="form-outline mb-4">
				<input type="text" id="cnp" pattern="[1-2][0-9]{12}" class="form-control p-3 input-style" placeholder="CNP" required>
			</div>
		</div>
		<div class="col-xs-4">
			<div class="form-outline mb-4">
				<input type="text" id="id_series" pattern="[A-Z]{2}" class="form-control p-3 input-style" placeholder="Series" required>
			</div>
		</div>
		<div class="col-xs-4">
			<div class="form-outline mb-4">
				<input type="text" id="id_nr" pattern="[0-9]{6}" class="form-control p-3 input-style" placeholder="Number" required>
			</div>
		</div>
	</div>
</div>